body{
    margin: 0%;
}

@media (max-aspect-ratio: 7/10) {
    .JoinContainer{
        width: 100% !important;
        
    }
    .JoinContainer > img{
        width: 15vw !important;
        
    }
    
    .JoinContainer >h1{
        font-size: 6vw !important;
        width: 55vw !important;
        border-bottom: 0.6vw solid white !important;
        
    }

    #joinInput{
        width: 50vw !important;
        padding: 4vw !important;
        font-size: 4vw !important;
        margin: 5vw !important ;
        
    }

    .joinbtn{
        
        width: 50vw !important;
        padding: 4vw !important;
        font-size: 1.1vmax;
        font-size: 4vw !important;
        font-weight: bold;
    }

    .chatContainer{
        background: white;
        height: 100vh !important;
        width: 100% !important;
    }

    .header{
        height: 10% !important;
        
    }

    .header>h2{
        margin: 8vw !important;
        font-size: 5vw !important;
    }
    .header img{
        margin: 6vw !important;
        transform: scale(2) !important;
    }

    .header>img:hover{
        transform: scale(3.2) !important;
    }
    
    .chatBox{
        height: 80vh !important;
    }

    .inputBox{
        height: 12vh !important;
       padding: 3vw;
    }

    #chatInput{
        
        padding: 4vw !important;
        
        font-size: 4vw !important;
    
    }
    .sendbtn{
        font-size: 5vw !important;
    }

    .messageBox{
   
        
        padding: 3vw !important;
        margin: 3vw !important;
        border-radius: 1.5vmax !important;
        font-size: 3.7vw !important;
    }
}